<link rel="stylesheet" href="https://cdn.datatables.net/2.3.8/css/dataTables.dataTables.css" media="print" onload="this.media='all'">
<script defer src="https://cdn.datatables.net/2.3.8/js/dataTables.js"></script>
<script>
   function initDataTable(selector) {
    const table = document.querySelector(selector);
    if (!table || typeof DataTable === 'undefined') { return; }
    if (DataTable.isDataTable(selector)) { new DataTable(selector).destroy(); }
    new DataTable(selector, {
        language: { lengthMenu: "_MENU_"},
        layout: {
            topStart: ['info', 'pageLength'],
            bottomStart: 'info',
            bottomEnd: 'paging'
        }
    });
}
</script>

